@font-face {
    font-family: "logo";
    src: url("fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "cyber";
    src: url("fonts/Jura-Regular.ttf");
}
@font-face {
    font-family: "cyberGras";
    src: url("fonts/Jura-Bold.ttf");
}
@font-face {
    font-family: "80s";
    src: url("fonts/Joystix.ttf");
}
@font-face {
    font-family: "90s";
    src: url("fonts/komikax.ttf");
}
@font-face {
    font-family: "2000sR";
    src: url("fonts/Cocon-Regular.ttf");
}
@font-face {
    font-family: "2000sG";
    src: url("fonts/Cocon-Bold.ttf");
}