:root {
    /* PRINCIPALE */
    --rose: #CB2D6F;
    --bleu: #14A098;

    /* SECONDAIRE */
    --violet: #501F3A;
    --argent: #CCCCCC;
    --bleuFonce: #0F292F;

    /* ALERTE */
    --fail: #E74C3C;
    --warning: #F1C40F;
    --success: #2ECC71;

    /* 90's */
    --rose90: #ee73aa;
    --bleuC90: #80d1f5;
    --jaune90: #f5e76c;
    --violet90: #c182d3;
    --bleuF90: #416bc8;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    display: none;
}
body {
    overflow: hidden;
}
a {
    text-decoration: none;
}
p {
    font-family: cyber;
}
section:nth-child(even) h2 {
    text-shadow: 3px 3px 1px var(--rose);
}
section:nth-child(odd) h2 {
    text-shadow: 3px 3px 1px var(--bleu);
}

/* header */

header {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
nav {
    height: 100%;
}
nav > ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
nav a:not(nav a:last-child) {
    margin-right: 10px;
}
nav li {
    list-style: none;
    font-family: logo;
    color: black;
    background: white;
    width: 180px;
    height: 35px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s, color 0.5s;
}
nav a:first-child li {
    background: black;
    color: white;
}

/* main */
main {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
}
section h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 2.5rem;
    font-family: '80s';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

/* Tous sections */
#s2, #s3, #s4 {
    background: black;    
}

/* Section 1 */
#s1 {
    position: relative;
    background-image: url("../img/accueil.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#s1 > article {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: clamp(20px,11vw,200px);
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#s1 button {
    font-family: "cyberGras";
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    background: var(--bleu);
    border-radius: 5px;
    border: none;
    transition: background 0.5s, color 0.5s, border-radius 1s;
}
#s1 button:hover {
    background: var(--bleuFonce);
    border-radius: 100px;
    color: white;
}

/* Section 2 */
#s2 svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#s2 article {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#s2 article > img {
    width: clamp(180px,28vw,350px);
}
#s2 #descPres {
    max-width: 40%;
    font-family: "cyberGras";
}
#descPres h3 {
    text-align: center;
    font-family: "80s";
    font-size: clamp(16px,3vw,1.25rem);
}
#descPres h3, #descPres p:not(#descPres p:last-child) {
    margin-bottom: 23px;
}
#descPres p {
    font-size: clamp(12px,2vw,1rem);
    font-family: "cyberGras";
}

/* Sections 3-4 */
#s3, #s4 {
    position: relative;
}
#s3 article, #s4 article {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    /*SLIDER*/
    width: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
#s3 article .slider, #s4 article .slider {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: transform 1s;
}
#s3 article .cardBox, #s4 article .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw / 3);
    max-height: 700px;

    /*SLIDER*/
    flex-shrink: 0;
    padding-left: 20px;
    scroll-snap-align: center;
}
#s3 .card > p {
    font-family: "cyber";
    color: var(--violet);
}
#s3 article img, #s4 article img {
    width: 150px;
    margin-bottom: 25px;
}
#s3 article p, #s4 article p {
    max-width: 75%;
}

#s3 .avant, #s3 .apres, #s4 .avant, #s4 .apres {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 20px;
    cursor: pointer;
}
#s3 .avant, #s4 .avant {
    left: 0;
    background: linear-gradient(135deg, #2de2e6, #035ee8);
    margin-left: 1vw;
}
#s3 .apres, #s4 .apres {
    right: 0;
    background: linear-gradient(135deg, #f6019d, #9700cc);
    margin-right: 1vw;
}

/* Section 3 */
#s3 h2 {
    font-family: "90s";
    color: var(--jaune90);
    text-shadow: 3px 3px 1px var(--rose), 6px 6px 1px var(--rose90);
    font-size: clamp(1.5rem,5vw,3.5rem);
}
#s3 article .cardBox {
    width: 100%;
    text-align: center;
}
#s3 article .card {
    width: 80%;
    display: flex;
    align-items: center;
    justify-items: center;
}
#s3 article .card > * {
    width: 50%;
}
#s3 .descCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#s3 .descCard h3 {
    font-family: "cyberGras";
    display: inline;
}

/* Section 4 */
#s4 .titleS4 {
    width: 300px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
#s4 h3 {
    font-family: '2000sG';
}
#s4 p {
    font-family: '2000sR';
}

@media all and (max-width: 1100px) {
    #s4 article .card {
        width: calc(100vw / 2);
    }
}

@media all and (max-width: 1000px) {
    section > .screen {
        width: 100%;
    }
}

@media all and (max-width: 900px) {
    #s4 article .card {
        width: 100vw;
    }
}

@media all and (max-width: 750px) {
    nav {
        display: none;
    }
    #s3 article .card, #s4 > article .card {
        flex-direction: column;
    }
    #s3 article .card > * {
        width: 90%;
    }
}

@media all and (max-width: 693px) {
    #s1 a:first-child button {
        margin-bottom: 20px;
    }

    #s2 .screen > article {
        flex-direction: column;
        justify-content: space-evenly;
    }
    #s2 #descPres {
        max-width: 90%;
        text-align: center;
    }

    #s4 article .card {
        padding-left: 0;
    }
}